main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10vh; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 4rem;
}
#value {
    font-size: 10rem;
    margin-bottom: 20px;
}
.btn {
    margin: 10px 20px;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: inset 2px 2px -2px -2px #222;
    border: 1px solid #222;
    outline: none;
}
.btn:hover {
    cursor: pointer;
}




